<h1>All Cocktails</h1>

<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')"><%= link_to cocktail.name, cocktail_path(cocktail) %> <%= link_to '🗑',
      cocktail_path(cocktail),
      method: :delete,
      data: { confirm: "Are you sure?"} %></div>
  <% end %>
</div>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>


