<div class="banner-show">
  <div class="container">
    <h1>Hardys Hard Stuff</h1>
  </div>
</div>

<div class="container p-3">
  <div class="cocktail-show d-block">
    <h1 class="pt-3 pl-3">Add a new cocktail</h1>

    <%= simple_form_for @cocktail do |f| %>
      <div class="form-inputs">
        <%= f.input :name, label:"Cocktail name" %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: "btn reverse-button" %>
      </div>
    <% end %>
  </div>
  <%= link_to "Back to cocktails", cocktails_path, class: "btn main-button mt-3"  %>
</div>