<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description + " - " + dose.ingredient.name %> <%= link_to '🗑',
      dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?"} %></p>
    </li>
  <% end %>
</ul>

<%= cl_image_tag(@cocktail.photo.key,
      width: 400, height: 300, crop: :fill) %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit, class: "btn btn-primary mb-4" %>
<% end %>

<%= link_to "Back to cocktails", cocktails_path, class: "btn btn-primary"  %>