<div class="banner-show">
  <div class="container">
    <h1>Hardys Hard Stuff</h1>
  </div>
</div>

<div class="container p-3">
  <div class="cocktail-show">
    <div class="picture">
      <% if @cocktail.photo.attached? %>
    
      

      <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      </div>

      <% end %>

    </div>
    <div class="cocktail-info">
      <div class="cocktail-details">
        <h1><%= @cocktail.name %></h1>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li><%= dose.description + " - " + dose.ingredient.name %> | <%= link_to 'Remove',
              dose_path(dose),
              method: :delete,
              data: { confirm: "Are you sure?"} %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="form-inputs">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description, label:"Quantity" %>
          <%= f.association :ingredient %>
          <%= f.button :submit, class: "btn reverse-button mb-4" %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Back to cocktails", cocktails_path, class: "btn main-button mt-3"  %>
</div>